<div class="login-page">
  <div class="top-page-container">
    <h2 class="login">ログイン</h2>
    <%= form_with url: login_path do |f| %>
      <div class="mb-3">
        <%= f.label :email, "メールアドレス", class: "form-label" %>
        <%= f.email_field :email, class: "form-control" %>
      </div>
      <div class="mb-3">
        <%= f.label :password, "パスワード", class: "form-label" %>
        <%= f.password_field :password, class: "form-control" %>
      </div>
      <%= f.submit "ログイン", class: "btn-primary" %>
    <% end %>
    <div class='text-center'>
      <%= link_to '会員登録はこちらから', new_user_path %>
    </div>
  </div>
</div>