<%= form_with(url: ramen_shops_path, method: :get, local: true, class: "search-form", id: "search-form") do |f| %>
  <%= hidden_field_tag :from_video_form, params[:from_video_form] %>
  <%= hidden_field_tag :video_id, @video.present? ? @video.id : params[:video_id] %>

  <% search_type = params[:search_type] || 'name' %>

  <div class="tabs">
    <%= link_to t('.search_shop_name'), ramen_shops_path(search_type: 'name', keyword: '', location: '', video_id: params[:video_id], from_video_form: params[:from_video_form]), class: "tab#{' active' if search_type == 'name'}", id: "tab-name" %>
    <%= link_to t('.search_location'), ramen_shops_path(search_type: 'location', keyword: '', location: '', video_id: params[:video_id], from_video_form: params[:from_video_form]), class: "tab#{' active' if search_type == 'location'}", id: "tab-location" %>
    <%= link_to t('.search_tag'), ramen_shops_path(search_type: 'tag', keyword: '', location: '', video_id: params[:video_id], from_video_form: params[:from_video_form]), class: "tab#{' active' if search_type == 'tag'}", id: "tab-tag" %>
  </div>

  <% placeholder_text = case search_type
       when 'name'
         t('.enter_store_name')
       when 'location'
         t('.enter_location_name')
       when 'tag'
         t('.enter_tag_name')
       else
         t('.enter_kyeword')
     end %>

  <%= f.text_field :keyword, value: params[:keyword], placeholder: placeholder_text, class: "custom-form-control", id: "search-keyword" %>
  <%= f.hidden_field :search_type, value: search_type %>
  <%= f.hidden_field :location, value: params[:location] || '' %>
  <%= f.submit t('.search'), class: "btn-primary search-btn" %>
  <ul id="autocomplete-list"></ul> 
<% end %>
