<div class='search_container'>
  <%= link_to videos_path do %>
    <p class='back-button'>＜ 動画一覧へ</p>
  <% end %>
  <%= render 'search_form' %>

  <% unless params[:keyword].present? %>
    <%= render 'current_location_map', latitude: @latitude, longitude: @longitude %>
  <% end %>

  <% if params[:search_type] == 'tag' %>
    <%= render 'videos_list' %>
  <% else %>
    <% if @ramen_shops.any? %>
      <ul>
        <% @ramen_shops.each do |shop| %>
         <div class='search-ramen-shop'>
          <li>
            <% video_id = params[:from_video_form] == "edit" ? @video&.id : nil %>
            <strong><%= link_to shop.name, ramen_shop_path(
                        id: shop.place_id,
                        video_id: params[:video_id],
                        from_video_form: params[:from_video_form],
                        keyword: params[:keyword],
                        search_type: params[:search_type],
                        location: params[:location]) %>
            </strong><br>
            <span><%= shop.vicinity || shop.formatted_address %></span>
          </li>
          </div>
        <% end %>
      </ul>
      <%= paginate @ramen_shops, theme: 'bootstrap-5' %>
    <% else %>
      <% if params[:keyword].present? %>
        <p class="search-message">検索結果がありません</p>
      <% end %>
    <% end %>
  <% end %>
</div>