<%= link_to @link_url + "?from_video_form=#{params[:from_video_form]}" do %>
  <p class='back-button'>＜ 戻る</p>
<% end %>

<div id="map-container">
  <div class="shop-name-container">
    <h2 class="shop-name"><%= @ramen_shop&.name || @ramen_shop_data['name'] %></h2>
  </div>
  <div id="map"></div>
</div>

<script>
  function initMap() {
    <% if @ramen_shop.present? %>
      const latitude = <%= @ramen_shop.latitude %>;
      const longitude = <%= @ramen_shop.longitude %>;
    <% elsif @ramen_shop_data.present? %>
      const latitude = <%= @ramen_shop_data['geometry']['location']['lat'] %>;
      const longitude = <%= @ramen_shop_data['geometry']['location']['lng'] %>;
    <% else %>
      // 位置情報がない場合のデフォルト位置
      const latitude = 35.6895;  // 東京の緯度
      const longitude = 139.6917; // 東京の経度
    <% end %>

    const location = { lat: latitude, lng: longitude };
    const map = new google.maps.Map(document.getElementById("map"), {
      zoom: 15,
      center: location
    });
    const marker = new google.maps.Marker({
      position: location,
      map: map
    });
  }

  document.addEventListener("turbo:load", function() {
    initMap();
  });
</script>