<%= link_to ramen_shops_path(
                keyword: params[:keyword], 
                search_type: params[:search_type], 
                location: params[:location], 
                page: params[:page],
                lat: params[:lat], 
                lng: params[:lng],
                from_video_form: params[:from_video_form]) do %>
  <p class='back-button'><%= t('.back_button') %></p>
<% end %>
<% if params[:search_type] == 'location' %>
  <%= render 'location_map', latitude: @latitude, longitude: @longitude %>
<% else %>
<div class="ramen-shop-details">
  <div class='shop_name'>
    <h1><%= @ramen_shop&.name || @ramen_shop_data['name'] %></h1>
    <% if params[:from_video_form] == "new" %>
      <%= link_to t('.select_store'), new_video_path(
        place_id: params[:id],
        shop_name: @ramen_shop&.name || @ramen_shop_data['name']
      ), class: 'select-shop-link' %>
    <% elsif params[:from_video_form] == "edit" && params[:video_id].present?  %>
      <%= link_to t('.select_store'), edit_video_path(
        id: params[:video_id],
        place_id: params[:id],
        shop_name: @ramen_shop&.name || @ramen_shop_data['name']
      ), class: 'select-shop-link' %>
    <% end %>
  </div>
  <p><%= t('.address') %>
    <% if @ramen_shop.present? %>
      <%= link_to(@ramen_shop.address.sub(/^日本、?\s*/, '').sub(/^〒\d{3}-\d{4}\s*/, ''), 
                  map_ramen_shop_path(id: @ramen_shop.place_id, from_video_form: params[:from_video_form])) %>
    <% elsif @ramen_shop_data.present? %>
      <%= link_to(@ramen_shop_data['vicinity'], 
                  map_ramen_shop_path(id: @ramen_shop_data['place_id'], from_video_form: params[:from_video_form])) %>
    <% else %>
      <%= t('.address_not_found') %>
    <% end %>
  </p>
  <p><%= t('.phone_number') %> <%= @ramen_shop&.phone_number || @ramen_shop_data['formatted_phone_number'] || t('.no_information') %></p>
  <p class="hours-label"><%= t('.opening_hours') %></p>
  <% if @ramen_shop&.opening_hours.present? %>
    <ul class="hours-list">
     <% @ramen_shop.opening_hours.split("\n").each do |day_text| %>
      <li><%= day_text %></li>
     <% end %>
    </ul>
  <% elsif @ramen_shop_data.present? && @ramen_shop_data['opening_hours'] && @ramen_shop_data['opening_hours']['weekday_text'] %>
    <ul class="hours-list">
     <% @ramen_shop_data['opening_hours']['weekday_text'].each do |day_text| %>
      <li><%= day_text %></li>
     <% end %>
    </ul>
  <% else %>
    <p><%= t('.no_opening_hours') %></p>
  <% end %>
  </div>

  <div class="videos-section">
    <% if @videos.any? %>
      <h2><%= t('.related_videos') %></h2>
      <ul class="videos-list">
        <% @videos.each do |video| %>
          <li>
            <video controls>
              <source src="<%= video.file %>" type="video/mp4">
              <%= t('.unsupported_browser') %>
            </video>
          </li>
        <% end %>
      </ul>
    <% else %>
      <p><%= t('.no_related_videos') %></p>
    <% end %>
  </div>
<% end %>