<%= link_to ramen_shops_path(
                keyword: params[:keyword], 
                search_type: params[:search_type], 
                location: params[:location], 
                page: params[:page],
                lat: params[:lat], 
                lng: params[:lng],
                from_video_form: params[:from_video_form]) do %>
  <p class='back-button'>＜ 検索フォームへ</p>
<% end %>
<% if params[:search_type] == 'location' %>
  <%= render 'location_map', latitude: @latitude, longitude: @longitude %>
<% else %>
<div class="ramen-shop-details">
  <div class='shop_name'>
    <h1><%= @ramen_shop&.name || @ramen_shop_data['name'] %></h1>
    <% if params[:from_video_form] == "new" %>
      <%= link_to 'この店舗を選択', new_video_path(
        place_id: params[:id],
        shop_name: @ramen_shop&.name || @ramen_shop_data['name'],
      ), class: 'select-shop-link' %>
    <% elsif params[:from_video_form] == "edit" %>
      <% if @video.present? %>
        <%= link_to 'この店舗を選択', edit_video_path(
          id: @video.id,
          place_id: params[:id],
          shop_name: @ramen_shop&.name || @ramen_shop_data['name']
        ), class: 'select-shop-link' %>
      <% end %>
    <% end %>
  </div>
  <p>住所: 
    <% if @ramen_shop.present? %>
      <%= link_to(@ramen_shop.address.sub(/^日本、?\s*/, '').sub(/^〒\d{3}-\d{4}\s*/, ''), 
                  map_ramen_shop_path(id: @ramen_shop.place_id, from_video_form: params[:from_video_form])) %>
    <% elsif @ramen_shop_data.present? %>
      <%= link_to(@ramen_shop_data['vicinity'], 
                  map_ramen_shop_path(id: @ramen_shop_data['place_id'], from_video_form: params[:from_video_form])) %>
    <% else %>
      住所が見つかりませんでした。
    <% end %>
  </p>
  <p>電話番号: <%= @ramen_shop&.phone_number || @ramen_shop_data['formatted_phone_number'] || '情報なし' %></p>
  <p class="hours-label">営業時間:</p>
  <% if @ramen_shop&.opening_hours.present? %>
    <ul class="hours-list">
     <% @ramen_shop.opening_hours.split("\n").each do |day_text| %>
      <li><%= day_text %></li>
     <% end %>
    </ul>
  <% elsif @ramen_shop_data.present? && @ramen_shop_data['opening_hours'] && @ramen_shop_data['opening_hours']['weekday_text'] %>
    <ul class="hours-list">
     <% @ramen_shop_data['opening_hours']['weekday_text'].each do |day_text| %>
      <li><%= day_text %></li>
     <% end %>
    </ul>
  <% else %>
    <p>営業時間情報なし</p>
  <% end %>
  </div>

  <div class="videos-section">
    <% if @videos.any? %>
      <h2>関連動画</h2>
      <ul class="videos-list">
        <% @videos.each do |video| %>
          <li>
            <video controls>
              <source src="<%= video.file %>" type="video/mp4">
              お使いのブラウザはビデオタグに対応していません。
            </video>
          </li>
        <% end %>
      </ul>
    <% else %>
      <p>関連する動画はありません。</p>
    <% end %>
  </div>
<% end %>