<body class="signup-page">
  <div class="top-page-container">
    <h1 class="sign-up">ユーザー登録</h1>
    <%= form_with model: @user, local: true, data: { turbo: false } do |f| %>
      <div class="mb-3">
        <%= f.label :name, "ユーザー名", class: "form-label" %>
        <%= f.text_field :name, class: "user-form-control" %>
      </div>
      <div class="mb-3">
        <%= f.label :email, "メールアドレス", class: "form-label" %>
        <%= f.email_field :email, class: "user-form-control" %>
      </div>
      <div class="mb-3">
        <%= f.label :password, "パスワード ※3文字以上で入力してください", class: "form-label" %>
        <%= f.password_field :password, class: "user-form-control" %>
      </div>
      <div class="mb-3">
        <%= f.label :password_confirmation, "パスワード確認", class: "form-label" %>
        <%= f.password_field :password_confirmation, class: "user-form-control" %>
      </div>
      <div class="mb-3">
        <%= f.label :avatar, "アバター画像", for: "avatar-input" %>
        <%= f.file_field :avatar, accept: 'image/*', id: "avatar-input", style: "display: none;" %>
        <button type="button" class="btn btn-secondary" id="select-avatar-btn">画像を選択する</button>
        <img id="avatar-preview" src="#" alt="プレビュー画像" style="display:none; margin-top: 10px; max-width: 100px;">
      </div>
      <%= f.submit "登録", class: "btn btn-primary" %>
    <% end %>
    <div class='text-center'>
      <%= link_to 'ログインページへ', login_path %>
    </div>
  </div>
</body>

<script>
  document.addEventListener('turbo:load', () => {
    const fileInput = document.getElementById('avatar-input');
    const selectAvatarBtn = document.getElementById('select-avatar-btn');

    if (selectAvatarBtn && fileInput) {
      selectAvatarBtn.addEventListener('click', () => {
        fileInput.click();
      });
    }

    if (fileInput) {
      fileInput.addEventListener('change', previewImage);
    }
  });

  function previewImage(event) {
    const reader = new FileReader();
    reader.onload = function() {
      const output = document.getElementById('avatar-preview');
      if (output) {
        output.src = reader.result;
        output.style.display = 'block';
      }
    };
    if (event.target.files[0]) {
      reader.readAsDataURL(event.target.files[0]);
    }
  }
</script>