<%= javascript_import_module_tag 'top_page' %>

<div class="top-page" id="background-container">
  <div class="background-image" id="background1"></div>
  <div class="background-image" id="background2"></div>
    <div class="top-page-container">
      <h2><%= t('.title') %></h2>
        <%= form_with model: @user, local: true, data: { turbo: false } do |f| %>
         <%= render 'shared/error_message', object: @user %>
          <div class="mb-3">
            <%= f.label :name, class: "form-label" %>
            <%= f.text_field :name, class: "form-control" %>
          </div>
          <div class="mb-3">
            <%= f.label :email, class: "form-label" %>
            <%= f.email_field :email, class: "form-control" %>
          </div>
          <div class="mb-3">
            <%= f.label :password, class: "form-label" %>
            <%= f.password_field :password, class: "form-control" %>
          </div>
          <div class="mb-3">
            <%= f.label :password_confirmation, class: "form-label" %>
            <%= f.password_field :password_confirmation, class: "form-control" %>
          </div>
          <div class="mb-3">
            <%= f.label :avatar, for: "avatar-input" %>
            <%= f.file_field :avatar, accept: 'image/*', id: "avatar-input", class: "form-control" %>
          </div>
          <%= f.submit t('.create'), class: "btn-primary" %>
        <% end %>
        <div class="text-center">
          <p><%= t('.or') %></p>
        </div>
        <div class="text-center google-login-wrapper">
          <%= link_to google_login_api_oauth_path(provider: :google), class: "btn btn-primary google-login-btn" do %>
            <img src="https://www.gstatic.com/images/branding/product/1x/gsa_512dp.png" alt="Google Logo" class="google-logo">
            <%= t('.google_acount_login') %>
          <% end %>
        </div>

        <div class='text-center'>
          <%= link_to t('.to_login_page'), login_path, class: "login-link" %>
        </div>

        <div class='text-center'>
          <%= link_to t('.about-the-site'), "#{root_path}#how-to-use", class: "login-link" %>
        </div>
    </div>
</div>
