<div class="user-profile">
  <h1><%= @user.name %></h1>
  <%= image_tag @user.avatar.url, class: "profile-avatar-image" %>
  <div class="profile-links">
    <%= link_to t('.edit_profile'), edit_user_path(@user), class: 'custom-nav-link' %>
    <%= link_to t('.logout'), logout_path, data: { turbo_method: :delete }, class: 'custom-nav-link' %>
  </div>
  
  <div class="user-tabs">
    <button class="tab-link active" data-tab="post-videos"><%= t('.post_video') %></button>
    <button class="tab-link" data-tab="liked-videos"><%= t('.like_video') %></button>
  </div>

  <div class="tab-content-wrapper">
    <div id="post-videos" class="tab-content active">
      <% if @videos.present? %>
        <% @videos.each do |video| %>
          <div class="video-item">
            <%= video_tag video.file.url, controls: true, class: "video-fixed-size" %>
            <div class="video-actions">
              <%= link_to edit_video_path(video.id), class: "edit-icon" do %>
                <i class="fas fa-edit"></i>
              <% end %>
              <%= link_to video_path(video), data: { turbo_method: :delete, turbo_confirm: t('.confirm_delete') }, class: "delete-icon" do %>
                <i class="fas fa-trash-alt"></i>
              <% end %>
            </div>
            <div class="mypage-video-details">
              <div class="user-info">
                <%= image_tag video.user.avatar.url, class: "avatar-image" %>
                <div class="actions">
                  <%= render 'videos/like_button', video: video %>
                  <div class="comment-icon">
                    <i class="fa fa-comment" data-video-id="<%= video.id %>"></i>
                    <%= turbo_frame_tag "comment-count-#{video.id}" do %>
                      <div class="comment-count">
                        <%= video.comments.count %>
                      </div>
                    <% end %>
                  </div>
                  <%= render 'comments/comments', video: video %>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      <% else %>
        <%= t('.no_videos_message') %>
      <% end %>
    </div>

    <div id="liked-videos" class="tab-content">
      <% if @liked_videos.present? %>
        <% @liked_videos.each do |video| %>
          <div class="video-item">
            <%= video_tag video.file.url, controls: true, class: "video-fixed-size" %>
            <div class="mypage-video-details">
              <div class="user-info">
                <%= image_tag video.user.avatar.url, class: "avatar-image" %>
                <div class="actions">
                  <%= render 'videos/like_button', video: video %>
                  <div class="comment-icon">
                    <i class="fa fa-comment" data-video-id="<%= video.id %>"></i>
                    <%= turbo_frame_tag "comment-count-#{video.id}" do %>
                      <div class="comment-count">
                        <%= video.comments.count %>
                      </div>
                    <% end %>
                  </div>
                  <%= render 'comments/comments', video: video %>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      <% else %>
        <%= t('.no_liked_videos_message') %>
      <% end %>
    </div>
  </div>
</div>


