<div class="video-details">
  <div class="user-info">
    <%= image_tag video.user.avatar.url, alt: video.user.name, class: "avatar-image" %>
    <div class="actions">
      <%= render 'videos/like_button', video: video %>
      <div class="comment-icon">
        <i class="fa fa-comment" data-video-id="<%= video.id %>"></i>
        <%= turbo_frame_tag "comment-count-#{video.id}" do %>
          <div class="comment-count">
            <%= video.comments.count %>
          </div>
        <% end %>
      </div>
      <%= render 'comments/comments', video: video %>
    </div>
  </div>
</div>