<div class="reel-container">
  <% if @videos.any? %>
    <% @videos.each do |video| %>
      <div class="reel-item">
        <div class="video-content">
          <div class="video-wrapper">
            <% if video.file.present? %>
              <video controls>
                <source src="<%= video.file.url %>" type="video/mp4">
                <%= t('.unsupported_browser') %>
              </video>
            <% else %>
              <span><%= t('.no_videos_message') %></span>
            <% end %>
          </div>

          <%= render 'videos/video_details', video: video %>

          <div class="video-info">
            <% if video.ramen_shop.present? %>
              <%= link_to video.ramen_shop.name, ramen_shop_path(video.ramen_shop.id), class: "ramen-shop-name" %>
            <% end %>
              <p class="videos-menu-name">
                <% if video.menu_name.present? %>
                  <%= video.menu_name %>
                <% end %>
              </p>
              <p class="videos-menu-price">
                <% if video.price.present? %>
                  <%= video.price %><%= t('.yen') %>
                <% end %>
              </p>
              <p class="videos-comment"><%= video.comment if video.comment.present? %></p>
                <div class="video-tags">
                  <% video.tags.each do |tag| %>
                    <span class="tag">#<%= tag.name %></span>
                  <% end %>
                </div>
              </div>
           </div>
          </div>
    <% end %>
  <% else %>
    <p class='no-videos-message'><%= t('.no_videos_message') %></p>
  <% end %>
</div>
