<div class="reel-container">
  <% if @videos.any? %>
    <% @videos.each do |video| %>
      <div class="reel-item">
        <div class="video-content">
          <div class="video-wrapper">
            <% if video.file.present? %>
              <video controls>
                <source src="<%= video.file.url %>" type="video/mp4">
                お使いのブラウザは動画の再生に対応していません。
              </video>
            <% else %>
              <span>動画がありません</span>
            <% end %>
          </div>
          <div class="video-info">
            <div class="user-info">
              <div class="user-avatar">
                  <%= image_tag video.user.avatar.url, alt: video.user.name, class: "avatar-image" %>
              </div>
              <p class="user-name"><%= video.user.name %></p>
            </div>
            <%= link_to video.ramen_shop.name, ramen_shop_path(video.ramen_shop.id) %>
            <p class="videos-menu-name">メニュー名: <%= video.menu_name %> <%= video.price %>円</p>
          </div>
        </div>
      </div>
    <% end %>
  <% else %>
    <p class='no-videos-message'>投稿動画がありません</p>
  <% end %>
</div>

<script>
  document.addEventListener('turbo:load', () => {
    const videos = document.querySelectorAll('.reel-item video');
  
    videos.forEach(video => {
      video.addEventListener('play', () => {
        videos.forEach(v => {
          if (v !== video && !v.paused) {
            v.pause();
          }
        });
      });
    });
  });
</script>
