<%= javascript_include_tag 'loading' %>
<div class="video-form-container">
  <h2><%= t('.title') %></h2>

  <%= form_with(model: @video, html: { class: 'custom-form' }) do |form| %>
    <%= render 'shared/error_message', object: form.object %>
    
    <div class="form-group horizontal-form-group">
      <div class="input-group">
        <%= link_to ramen_shops_path(from_video_form: "new"), class: 'select-shop' do %>
          <%= t('.select_shop') %>
        <% end %>
        <p id="selected-shop-name" class="selected-shop-name">
        <% if params[:shop_name].present? %>
          <%= params[:shop_name] %>
        <% else %>
          <%= t('.no_select_shop') %>
        <% end %>
        </p>
      </div>
      <%= hidden_field_tag :place_id, params[:place_id] %>
    </div>

    <div class="form-group horizontal-form-group">
      <%= form.label :menu_name, class: 'video-form-label' %>
      <%= form.text_field :menu_name, placeholder: t('.menu_name_message'), class: 'form-control' %>
    </div>

    <div class="form-group horizontal-form-group">
      <%= form.label :price, class: 'video-form-label' %>
      <%= form.text_field :price, placeholder: t('.price_message'), class: 'form-control' %>
    </div>

    <div class="form-group horizontal-form-group">
      <%= form.label :comment, class: 'video-form-label' %>
      <%= form.text_area :comment, class: 'form-control' %>
    </div>

    <div class="form-group horizontal-form-group">
      <%= form.label :tags, class: 'video-form-label' %>
      <%= form.text_field :tag_list, placeholder: t('.tag_message'), value: @video.tag_list_without_hash, class: 'form-control' %>
    </div>

    <div class="form-group horizontal-form-group">
      <%= form.label :file, class: 'custom-file-label' %>
      <%= form.file_field :file, id: "video_file", class: 'form-control-file' %>
    </div>

    <%= form.submit t('.create'), class: 'btn-primary video-btn' %>
  <% end %>

  <%= render 'shared/loading_video' %>
</div>