<div class="video-form-container">
  <h2>新しい動画を作成</h2>

  <%= form_with(model: @video, local: true, html: { class: 'custom-form' }) do |form| %>
    
    <div class="form-group horizontal-form-group">
      <div class="input-group">
        <%= link_to ramen_shops_path(from_video_form: true), class: 'btn-primary secondary' do %>
          ラーメン店を選択
        <% end %>
        <p id="selected-shop-name" class="selected-shop-name">
        <% if params[:shop_name].present? %>
          <%= params[:shop_name] %>
        <% else %>
          店舗が選択されていません
        <% end %>
        </p>
      </div>
      <%= hidden_field_tag :ramen_shop_id, params[:place_id] %>
    </div>

    <div class="form-group horizontal-form-group">
      <%= form.label :menu_name, "メニュー名", class: 'video-form-label' %>
      <%= form.text_field :menu_name, placeholder: "メニュー名を入力してください", class: 'form-control' %>
    </div>

    <div class="form-group horizontal-form-group">
      <%= form.label :price, "金額", class: 'video-form-label' %>
      <%= form.text_field :price, placeholder: "数字を入力してください", class: 'form-control' %>
    </div>

    <div class="form-group horizontal-form-group">
      <%= form.label :comment, "コメント", class: 'video-form-label' %>
      <%= form.text_area :comment, class: 'form-control' %>
    </div>

    <div class="form-group horizontal-form-group">
      <%= form.label :file, "動画をアップロード", class: 'custom-file-label' %>
      <%= form.file_field :file, id: "video_file", class: 'form-control-file' %>
    </div>

    <%= form.submit '投稿する', class: 'btn-primary video-btn' %>
  <% end %>
</div>