<!DOCTYPE html>
<html>
  <head>
    <title>RamenAsmrApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@700&display=swap" rel="stylesheet">
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAPS_API_KEY'] %>&libraries=places"></script>
    <script>
      const ramenIconPath = "<%= asset_path('circle_ramen_icon.png') %>";
    </script>
  </head>

  <body>
    <% if logged_in? %>
      <%= render 'shared/header' %>
    <% end %>
    <%= render 'shared/flash_message' %>
    <%= yield %>
  </body>
</html>
